<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: bisque;" >
    <h2>write here</h2>
    <form method="post">
        <textarea style="background-color: aqua; border-color: rgb(182, 182, 41); border-width: 3px; " name="blogs" cols="30" rows="5" maxlength="140"></textarea>
        <button type="submit">submit Blog</button>
     </form><br/>
     <a href="/">go back</a>
</body>
</html>