<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body> 
    <h1>build ur profile</h1>
    <form  method="post" enctype="multipart/form-data ">
        Email <input type="text" name="email"><br/>
        FullName <input type="text" name="fullname">
        <input type="file" name="image" >
        <input type="submit">
    </form>
</body>
</html>

//hYh^3!MS